# Ignore vendor folder
/vendor/

# Ignore node_modules folder
/node_modules/

# Ignore compiled assets
/public/js/
/public/css/

# Ignore environment files
.env
.env.*

# Ignore the Laravel Mix config file
webpack.mix.js

# Ignore the NPM debug log file
npm-debug.log

# Ignore the PHPUnit code coverage folder
/coverage/
#code editor olders
/.idea
/.vscode
node_modules/
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
